footer {
  background: #333333;
  padding: 3em 6.5em;
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-between;
  .logo {
    width: 32px;
    height: 32px;
    margin-right: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background: #ffca05;
  }
  .d-flex {
    h3 {
      margin-bottom: 1em;
    }
    a {
      width: 100px;
      margin-right: 1em;
      img {
        width: 100px;
      }
    }
  }
  h3 {
    font-size: 14px;
    color: #fff;
    margin-bottom: 2em;
    font-weight: 600;
    span {
      display: block;
      margin-top: 0.5em;
      font-size: 12px;
      font-weight: normal;
    }
  }
  ul {
    list-style: none;
    padding: 0em;
    margin: 0em;
    li {
      a {
        color: #fff;
        text-decoration: none !important;
        font-size: 12px;
        &:hover {
          color: #f4811f;
        }
      }
      &:first-child {
        a {
          color: #f4811f;
        }
      }
    }
    .social-icons {
      margin-top: 1em;
      ul {
        display: flex;
        li {
          margin-right: 1em;
          a {
            ion-icon {
              font-size: 20px;
            }
            &:hover {
              ion-icon {
                filter: brightness(0.5);
              }
            }
          }
          &:last-child {
            margin-right: 0em;
          }
        }
      }
    }
  }
  .item_one {
    p {
      font-size: 12px;
      width: 314px;
      color: #fff;
      margin-top: 2em;
    }
  }
  .item_three {
    ul li {
      &:first-child {
        a {
          color: #fff;
        }
      }
    }
  }

  @media screen and (min-width: 320px) and (max-width: 991px) {
    grid-template-columns: auto;
    padding: 3em 1em;
    .item_four {
      .d-flex {
        margin: 1em 0em;
      }
    }
  }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    padding: 3em;
  }
  @media screen and (min-width: 1200px) and (max-width: 1439px) {
    padding: 3em;
  }
}
footer.main-bottom {
  position: relative;
  padding: 1em 6.5em;
  background: #000;
  ul {
    display: flex;
    list-style: none;
    padding: 0em;
    margin: 0em;
    li {
      color: #fff;
      margin-right: 2em;
      font-size: 14px;
      display: flex;
      align-items: center;
      font-weight: 400;
      &:last-child {
        margin-right: 0em;
      }

      ion-icon {
        font-size: 20px;
        margin-right: 10px;
      }
    }
  }
  @media screen and (min-width: 320px) and (max-width: 767px) {
    padding: 1em 1em;
    ul {
      flex-direction: column;
      li {
        font-size: 11px;
        margin-bottom: 1em;
      }
    }
  }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    padding: 1em 3em;
    ul li {
      font-size: 11px;
    }
  }
  @media screen and (min-width: 1200px) and (max-width: 1439px) {
    padding: 1em 3em;
  }
}
